extends layout.pug

block content
 <br>
 p <b>Error Message:</b> #{error.message}

 p <b>Status:</b> #{error.status}

 p Something went wrong on the server.

 p #{error.stack}

 p
  a(href='/') Return home.