extends layout.pug

block content
 <br>
 p <b>Error Message:</b> #{err.message}

 p <b>Status:</b> #{err.status}

 p Something went wrong on the server.

 p #{err.stack}

 p
  a(href='/') Return home.