<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap", rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/mcipolla-photo.jpg', alt='Photo of Monique Cipolla')
        .dev-intro-box

          h5 Monique Cipolla

          p I'm a Quality Engineer and a fullstack JavaScript developer. 

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Monique Cipolla

      block content

  script(src='/static/js/script.js')