extends layout.pug

block content
 <br>
 p <b>Error Message:</b> #{error.message}

 p <b>Status:</b> #{error.status}

 p The page you were attempting to reach was not found.

 p
  a(href='/') Return home.