extends layout.pug

block content
 <br>
 p <b>Error Message:</b> #{err.message}

 p <b>Status:</b> #{err.status}

 p The page you were attempting to reach was not found.
 
 p #{err.stack}
 
 p
  a(href='/') Return home.